<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="author" content="Kaung Khant Zaw" />
        <meta name="description" content="Rick and morty characters" />


        <title>Get Rick & Morty Characters</title>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


        <!-- CSS Style Sheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body>
        <header>
            <div class="text-center my-6">
                <h1>All Rick & Morty Characters</h1>
            </div>
        </header>

        <main>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {{#each data.results}}
                <div class="col mb-4">
                    <div class="card">
                        <img src={{image}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">{{name}}</h4>

                            <h6 class="card-title">Species</h6>
                            <p class="card-text">{{species}}</p>

                            <h6 class="card-title">Last known location:</h6>
                            <p class="card-text">{{location.name}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </main>
    </body>
</html>